# Wirtualne środowisko Pythona
env/
venv/
.env

# Pliki baz danych (lokalne dane)
*.db
*.sqlite3
cosmere_rpg.db

# Pliki tymczasowe i skompilowane Pythona
__pycache__/
*.pyc
*.pyo

# Pliki konfiguracyjne IDE (opcjonalnie, np. VS Code/Visual Studio)
.vscode/
.vs/

# Ustawienia użytkownika Visual Studio
*.user